[mysqld]
skip-host-cache
#只能用IP地址
skip-name-resolve
#服务Id唯一
server-id = 1 
port = 3306
log-error = /var/log/mysql/error.log
#设置时区
default-time_zone='+8:00'
#密码永不过期
default_password_lifetime=0
#数据库默认字符集
character-set-server = utf8mb4
#数据库字符集对应一些排序等规则 
collation-server = utf8mb4_general_ci
#设置client连接mysql时的字符集,防止乱码
init_connect='SET NAMES utf8mb4'
#最大连接数
max_connections = 3000
